src/StickerBook/StickerBook.WinPhone/SampleData/MainDataSource/MainDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainDataSource" targetNamespace="Expression.Blend.SampleData.MainDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainDataSource" type="tns:MainDataSource" />
  <xs:complexType name="MainDataSource">
    <xs:sequence>
      <xs:element name="Players" type="tns:Players" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PlayersItem" type="tns:PlayersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlayersItem">
    <xs:sequence>
      <xs:element name="Clues" type="tns:Clues" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\Photos" name="Photo" type="tns:Basic-Image" />
    <xs:attribute name="WasDiscovered" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Clues">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CluesItem" type="tns:CluesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CluesItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Value" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>